body {
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  color: #ddd;
  margin: 0;
}

header {
  background-color: #121212;
  text-align: center;
  padding: 20px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #00aaff;
}

.packs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 40px;
}

.pack {
  background-color: #1a1a1a;
  border-radius: 10px;
  width: 220px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  transition: 0.3s;
  overflow: hidden;
}

.pack:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.pack img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.pack h3 {
  color: #fff;
  font-size: 16px;
  margin: 10px 0 5px 0;
}

.pack p {
  color: #999;
  font-size: 13px;
  margin-bottom: 10px;
}

.download-btn {
  display: inline-block;
  background-color: #e60023;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  margin-bottom: 20px;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #b8001c;
}

footer {
  background-color: #121212;
  text-align: center;
  padding: 10px;
  color: #888;
  font-size: 14px;
}

.upload-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px;
}

#upload-form {
  background-color: #1a1a1a;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 420px;
  color: #fff;
}

#upload-form label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #00aaff;
  font-size: 14px;
}

#upload-form input,
#upload-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #0f0f0f;
  color: #ddd;
  font-size: 14px;
  outline: none;
  resize: none;
}

#upload-form textarea {
  min-height: 80px;
}

#upload-form input:focus,
#upload-form textarea:focus {
  border: 1px solid #00aaff;
  background-color: #141414;
}

#upload-confirm {
  width: 100%;
  margin-top: 25px;
  background-color: #e60023;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#upload-confirm:hover {
  background-color: #b8001c;
  transform: scale(1.03);
}

#upload-form input::placeholder {
  color: #777;
  font-style: italic;
}

.search-bar {
  display: block;
  margin: 30px auto 10px;
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #1a1a1a;
  color: #ddd;
  text-align: center;
}
